extends layout

block content

  div.jumbotron
    div.container
      h1
        | Basic CRUD functionalities
      p Click below to create, read, update and delete Users:-
      p
        a.btn.btn-primary.btn-lg(href='/users', role='button') Users
